html {
  box-sizing: border-box;
}

body {
  background-color: LightGray;
  font-family: 'Roberto', sans-serif;
  -webkit-font-smoothing: antialiased;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.content {
  width: 970px;
  height: 70px;
  margin: 0 auto;
}

.top-navigation {
  background-color: #fff;
}

.top-navigation .logo {
  height: 70px;
}

.top-navigation .content {
  padding: 0px 15px;
}

.top-navigation .links {
  float: right;
  margin-top: 25px;
  font-size: 16px;
  color: #838994;
  letter-spacing: 0.03em;
}

.top-navigation .links li {
  display: inline-block;
  padding-left: 25px;
}

.top-navigation .links .active {
  color: #4c5058;
  font-weight: 500;
}

.top-navigation .links li:hover {
  cursor: pointer;
  color: #333;
}

a {
  text-decoration: none;
}

.introduction {
  background-image: url('../img/first-background.jpg');
  background-position: center bottom;
  background-repeat: no-repeat;
  background-size: cover;
  height: 45.938rem;
  overflow: auto;
}

.introduction h1,
.introduction h3 {
  text-align: center;
  color: white;
  font-weight: 300;
}

.introduction h1 {
  margin-top: 17.5rem;
  font-size: 3.125rem;
}

.introduction h3 {
  margin-top: 1.25rem;
  font-size: 1.563rem;
}

.introduction .buttons {
  color: white;
  text-align: center;
  margin-top: 1.563rem;
}

.big-button {
  width: 9.688rem;
  background-color: #f15a29;
  border-color: #f15a29;
  text-shadow: none;
  border-style: none;
  border-radius: 4px;
  padding: 1rem 1.5rem;
  color: white;
  font-size: 1.125rem;
}

.big-button:hover {
  background-color: #d9400e;
  border-color: #cf3d0e;
  cursor: pointer;
}
